<form>
  <div class="input-group" >
    <p>
      <label for="initial-investment">Initial Investment</label>
      <input type="text" id="initial-investment" name="title" />
    </p>

    <p>
      <label for="annual-investment">Annual Investment</label>
      <input type="text" id="annual-investment" name="title" />
    </p>
  </div>

  <div class="input-group" >
    <p>
      <label for="expected-return">Initial Investment</label>
      <input type="text" id="expected-return" name="title" />
    </p>

    <p>
      <label for="duration">Initial Investment</label>
      <input type="text" id="duration" name="title" />
    </p>
  </div>

  <p class="actions">
    <button type="submit">Calculate</button>
  </p>
</form>
