<form>
  <div class="input-group">
    <p>
      <label
        for="initial-investment">
        Initial Investment $
      </label>
      <input
        type="number"
        id="initial-investment"
        name="Initial Investment"
        [(ngModel)]="initialInvestment"
      />
    </p>

    <p>
      <label
        for="annual-investment">
          Annual Investment $
      </label>
      <input
        type="number"
        id="annual-investment"
        name="Annual Investment"
        [(ngModel)]="annualInvestment"
      />
    </p>
  </div>

  <div class="input-group">
    <p>
      <label
        for="expected-return">
          Expected return %
      </label>
      <input
        type="number"
        id="expected-return"
        name="Expected Return"
        [(ngModel)]="expectedReturn"
      />
    </p>

    <p>
      <label
        for="duration">
          Duration (Years)
      </label>
      <input
        type="number"
        id="duration"
        name="Duration"
        [(ngModel)]="duration"
      />
    </p>
  </div>

  <p class="actions">
    <button
      [disabled]="hasMissingFields()"
      (click)="computeNewResults()"
      type="submit"
    >
      Calculate
    </button>
  </p>
</form>
